<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @activity.author %>
</p>

<p>
  <b>Action:</b>
  <%= @activity.action %>
</p>

<p>
  <b>Subject:</b>
  <%= @activity.subject %>
</p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
